#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    width: clamp(300px, 80vmin, 800px);
    
}

button{
    border: none;
    background-color: black;
    color:white;
    padding: 10px;
    border-radius: 8px;
}
button:hover{
    background-color: rgb(99, 95, 95);
    cursor: pointer;
}

