
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(400px, 80vmin, 500px);
}

form > div{
    width: 100%;
    font-size: clamp(15px, 3vmin, 30px);
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

h2{
    text-decoration: underline;
    justify-self: center;
    text-align: center;
}


.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
